In [ ]:
# Create myreduce function similar to python built in reduce 
def myreduce(func,list_1):
  a=list_1[0]
  for i in range(1,len(list_1)):
    b=list_1[i]
    a=func(a,b)
  return a

def add(a,b):
    return a+b

list_1=[1,2,3,4,5]


print(myreduce(add,list_1))

15

In [ ]:
#create myfilter function similar to buit in filter function
def myfilter(func,list):
  filtered_list=[]
  for n in list:
    a=func(n)
    if a:
      filtered_list.append(n)
  return filtered_list

def fun(variable): 
    letters = ['a', 'e', 'i', 'o', 'u'] 
    if (variable in letters): 
        return True
    else: 
        return False
  
  
# sequence 
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 
  
# using filter function 
filtered = myfilter(fun, sequence)

print(filtered)

['e', 'e']

In [23]:
print([x*a for x in ['x','y','z'] for a in range(1,4)])

['x', 'xx', 'xxx', 'y', 'yy', 'yyy', 'z', 'zz', 'zzz']

In [24]:
print([x*a for x in range(1,4) for a in ['x','y','z'] ])

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz']

In [25]:

print([[x+a] for x in [2,3,4] for a in range(0,3)])

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [26]:
print([[x+a for x in [2,3,4,5]] for a in range(0,4) ])

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [27]:
print([(x,a) for x in [1,2,3] for a in range(1,4)])

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]